{# Footer #}
{#
  /**
  * The footer brackets and styling are added in the page.html.twig template
  **/
#}

<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div id="nav_menu-2">
        <div class="menu-footer-container">
          <h3>Capabilities</h3>
          <ul>
            <li><a href="#">Funnels</a></li>
            <li><a href="#">Components</a></li>
            <li><a href="#">Playbook</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <h3>Contact Info</h3>
      <address>
        <span class="address"><i class="fa fa-map-marker"></i> <span class="adress-overflow">925 B Street, 5th Floor, San Diego, CA 92101</span></span><br />
        <span class="email"><i class="fa fa-envelope"></i> <strong>E-Mail:</strong> <a href="mailto:inquiry@zeeto.io">inquiry@zeeto.io</a></span><br />
        <span class="web"><i class="fa fa-globe"></i> <strong>Web:</strong> <a href="http://www.zeeto.io" target="_blank">www.zeeto.io</a></span><br />
      </address>
    </div>
  </div>
</div>