/***********************************
New Stylesheet to match mobile form
styling to legacy
***********************************/


/***********************************
FORM ELEMENTS
***********************************/

#edit-submit,
#edit-multi-step-section-1,
#edit-multi-step-section-2,
#edit-multi-step-section-3,
#edit-multi-step-section-4,
#edit-multi-step-section-5,
#edit-multi-step-section-6 {
  display: none;
}
select-wrapper:after {
  content:'\25bc';
}

/********************************************
/********************************************
/********************************************
/********************************************
MEDIA QUERIES
/********************************************
/********************************************
/********************************************
********************************************/


/********************************************
MIN-WIDTH 768PX
********************************************/
@media (min-width:768px) {

}


/********************************************
MIN-WIDTH 992PX
********************************************/
@media (min-width:992px) {
}