##############################################
#### Mysql dump the latest database and
#### import it into the new environment
##############################################
container_commands:
  1mysql:
    command: sh /tmp/mysql.sh

files:
  "/tmp/mysql.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        echo ${SG_ON_EC2_ADDED} >> /var/log/SecurityGroupStatus.out
        if [ ${SG_ON_EC2_ADDED} -eq '1' ]; then
          echo 'TASK: Running mysqldump to take backup of current live to file /tmp/mysql_dump.sql'
          /usr/bin/mysqldump --single-transaction -u ${RDS_USER_NAME} -p${RDS_PASSWORD} ${RDS_DB_NAME} -h ${RDS_HOST_SOURCE} --ignore-table=${RDS_DB_NAME}.cache_config --ignore-table=${RDS_DB_NAME}.cache_container --ignore-table=${RDS_DB_NAME}.cache_data --ignore-table=${RDS_DB_NAME}.cache_default --ignore-table=${RDS_DB_NAME}.cache_discovery --ignore-table=${RDS_DB_NAME}.cache_dynamic_page_cache --ignore-table=${RDS_DB_NAME}.cache_entity --ignore-table=${RDS_DB_NAME}.cache_menu --ignore-table=${RDS_DB_NAME}.cache_render --ignore-table=${RDS_DB_NAME}.cache_toolbar > /tmp/mysql_dump.sql
          echo 'TASK: Importing /tmp/mysql_dump.sql file to the database of new environment'
          /usr/bin/mysql -u ${RDS_USER_NAME} -p${RDS_PASSWORD} ${RDS_DB_NAME} -h ${RDS_HOST_TARGET} <  /tmp/mysql_dump.sql
          echo 'SUCCESS: Database Migrated!'
          /usr/bin/mysql -u ${RDS_USER_NAME} -p${RDS_PASSWORD} ${RDS_DB_NAME} -h ${RDS_HOST_TARGET} -e "TRUNCATE cache_config; TRUNCATE cache_container; TRUNCATE cache_data; TRUNCATE cache_default; TRUNCATE cache_discovery; TRUNCATE cache_dynamic_page_cache; TRUNCATE cache_entity; TRUNCATE cache_menu; TRUNCATE cache_render;TRUNCATE cache_toolbar;"
          echo 'SUCCESS: Cache truncated!'
        fi
        echo 'mysql.config finished'