packages:
  yum:
    newrelic-php5: []
  rpm:
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
commands:
  configure_new_relic:
    command: newrelic-install install
    env:
      NR_INSTALL_SILENT: true
      NR_INSTALL_KEY: 6026ea41b096c689e677fecae4f276bebcff01c0
  change_app_name:
    command: sed -i -e "s/newrelic.appname = \"PHP Application\"/newrelic.appname = \"NEWRELIC_APPNAME\"/g" /etc/php.d/newrelic.ini
