###############################################################################
## Configuration file to increase PHP memory limit to 2048MB.
## Installing drush
###############################################################################
option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    memory_limit: 2048M
commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/cms-php-update.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        echo 'sudo Installing drush'
        cd /var/www/html
        sudo /usr/bin/composer.phar require drush/drush