.counterWrap {
  margin-bottom: 13px;
}

.counterWrap .counterTextWrap {
  background: #f7dc71;
  height: 50px;
  padding: 1px;
}

.counterWrap .counterTextWrap .counterText {
  color: #9c185a;
  font-size: 1.2em;
  text-align: center;
  margin: 12px;
  font-weight: 900;
}

.counterWrap .counterSubheadline {
  font-size: 14px;
}

.counterWrap .button {
  max-width: 85%;
  float: left;
  color: #ffffff;
  margin: 12px 0;
  width: 289px;
  padding: 10px 18px;
  font-size: 1.1em;
  border-radius: 9px;
  background: #e8473e;
  font-style: italic;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px #333;
  border-top: 6px solid #ed726c;
  border-right: 6px solid #ac1c14;
  border-bottom: 6px solid #7e150f;
  border-left: 6px solid #eb5d55;
}

/***********************************
Media Styles Min-Width 768
***********************************/
@media (min-width: 768px) {
  .counterWrap {
    height: 78px;
    background-color: #fff;
    margin-bottom: 15px;
  }
  .counterWrap .counterTextWrap {
    height: 78px;
  }
  .counterWrap .counterTextWrap .counterText {
    font-size: 1.6em;
    margin: 23px;
  }
  .counterWrap .counterFlag {
    display: block;
    position: absolute;
    right: -72px;
    top: -2px;
    border: 40px solid transparent;
    border-left-width: 32px;
    border-left-color: #f7dc71;
  }
  .counterWrap .counterSubheadline {
    padding: 0 35px;
    font-size: 16px;
    text-align: center;
    margin-top: 12px;
  }
}

/***********************************
Media Styles Min-Width 992
***********************************/
@media (min-width: 992px) {
  .counterWrap {
    background: transparent;
    border-bottom: 3px solid #f7dc71;
    margin-bottom: 0;
  }
  .counterWrap .counterSubheadline {
    margin-top: 20px;
  }
}
