.timer {
  padding: 0 10px 10px;
  position: relative;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
}

.timer .timer-headline {
  font-size: 18px;
  text-align: center;
}

.timer .number {
  display: inline-block;
  width: 18%;
  text-align: center;
  margin: 5px;
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 10px;
  padding: 5px 0;
  font-size: 22px;
  font-weight: 700;
  max-width: 65px;
}

.timer .number .text {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.splash .timer {
  padding: 15px 0 0;
}

.splash .timer .timer-headline {
  color: #397173;
  font-size: 21px;
  font-style: italic;
  margin: 6px 0 10px;
  text-align: center;
  line-height: 1;
}

.splash .timer .number {
  border-radius: 0;
  max-width: 60px;
  color: #397173;
  font-size: 24px;
  line-height: 2;
  padding: 0 0 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(20%, white), color-stop(30%, #f1f1f1), color-stop(31%, white), color-stop(32%, white), color-stop(50%, #f1f1f1), color-stop(60%, #e2e2e2), color-stop(60%, rgba(254, 254, 254, 0)), color-stop(99%, rgba(254, 254, 254, 0)), to(rgba(254, 254, 254, 0)));
  background: -webkit-linear-gradient(top, white 0%, white 20%, #f1f1f1 30%, white 31%, white 32%, #f1f1f1 50%, #e2e2e2 60%, rgba(254, 254, 254, 0) 60%, rgba(254, 254, 254, 0) 99%, rgba(254, 254, 254, 0) 100%);
  background: linear-gradient(to bottom, white 0%, white 20%, #f1f1f1 30%, white 31%, white 32%, #f1f1f1 50%, #e2e2e2 60%, rgba(254, 254, 254, 0) 60%, rgba(254, 254, 254, 0) 99%, rgba(254, 254, 254, 0) 100%);
}

.splash .timer .text {
  display: block;
  padding: 4px 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}

/***********************************
Media Styles Min-Width 768
***********************************/
@media (min-width: 768px) {
  .timer {
    padding-top: 20px;
  }
  .timer .timer-headline {
    color: #fff;
  }
  .timer .number {
    width: 10%;
    background-color: #fff;
  }
}

/***********************************
Media Styles Min-Width 992
***********************************/
@media (min-width: 992px) {
  .dynamicImageContainer .timer {
    padding: 15px 0 0;
    max-width: 250px;
  }
  .dynamicImageContainer .timer .timer-headline {
    color: #397173;
    font-size: 21px;
    font-style: italic;
    margin: 6px 0 10px;
    text-align: center;
    line-height: 1;
  }
  .dynamicImageContainer .timer .number {
    border-radius: 0;
    max-width: 60px;
    width: 20%;
    color: #397173;
    font-size: 24px;
    line-height: 2;
    padding: 0 0 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(20%, white), color-stop(30%, #f1f1f1), color-stop(31%, white), color-stop(32%, white), color-stop(50%, #f1f1f1), color-stop(60%, #e2e2e2), color-stop(60%, rgba(254, 254, 254, 0)), color-stop(99%, rgba(254, 254, 254, 0)), to(rgba(254, 254, 254, 0)));
    background: -webkit-linear-gradient(top, white 0%, white 20%, #f1f1f1 30%, white 31%, white 32%, #f1f1f1 50%, #e2e2e2 60%, rgba(254, 254, 254, 0) 60%, rgba(254, 254, 254, 0) 99%, rgba(254, 254, 254, 0) 100%);
    background: linear-gradient(to bottom, white 0%, white 20%, #f1f1f1 30%, white 31%, white 32%, #f1f1f1 50%, #e2e2e2 60%, rgba(254, 254, 254, 0) 60%, rgba(254, 254, 254, 0) 99%, rgba(254, 254, 254, 0) 100%);
  }
  .dynamicImageContainer .timer .text {
    display: block;
    padding: 4px 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
  }
}
