// CLASS APPLIED TO BODY
$ad-height: 950px;

.fallingImageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

// Mixins
@mixin let-it-fall-animation($anim, $time, $timing, $repetition){
  -webkit-animation: $anim $time $timing $repetition;
  -moz-animation: $anim $time $timing $repetition;
  animation: $anim $time $timing $repetition;
}

// Layout elements
.fallingImage {
  position: absolute;
  top: 0;
  left: 0;
  // money fall speed 
  @include let-it-fall-animation(elementfall, 6s, linear, infinite);
  &.fast-fall {
    @include let-it-fall-animation(elementfall, 9s, linear, infinite);
  }
  &.med-fall {
    @include let-it-fall-animation(elementfall, 13s, linear, infinite);
  }
  &.slow-fall {
    @include let-it-fall-animation(elementfall, 18s, linear, infinite);
  }
  .fallingImage {
    position: absolute;
    left: 0;
  }
  /* image l-r speed */
  .fallingImage {
    &.fast {
      @include let-it-fall-animation(dollar-fs, 8s, linear, infinite);
    }
    &.medium {
      @include let-it-fall-animation(dollar-md, 10s, linear, infinite);
    }
    &.slow {
      @include let-it-fall-animation(dollar, 15s, linear, infinite);
    }
  }
}

// Keyframe Animations
// Normal elementfall positions
@keyframes elementfall {
  0% {
    top: -20px;
    transform: rotate(0deg);
  }
  100% {
    top: $ad-height + 5;
    transform: rotate(360deg);
  }
}

// Slower elementfall positions
@keyframes elementfall-sl {
  0% { top: -15px; }
  100% { top: $ad-height + 25; }
}

// Medium elementfall positions
@keyframes elementfall-md {
  0% { top: -25px; }
  100% { top: $ad-height + 15; }
}

// Dollar wiggle
@keyframes dollar {
  0% { left: 0;}
  25% { left: 25px;}
  50% { left: 0;}
  75% { left: 10px;}
  100% { left: 0;}
}

// Dollar wiggle medium
@keyframes dollar-md {
  0% { left: 0;}
  25% { left: 10px;}
  50% { left: 0;}
  75% { left: 5px;}
  100% { left: 0;}
}

// Snowflake wiggle faster
@keyframes dollar-fs {
  0% { left: 0;}
  25% { left: 5px;}
  50% { left: 0;}
  75% { left: 15px;}
  100% { left: 0;}
}