{#
/**
 * @file
 * Overrides the main "page" and creates a full width page without sidebars.
 */
#}
{% extends 'page.html.twig' %}


{% block header %}{% endblock %}


{# Main #}
{% block main %}
  <div class="wrap">
    <div role="main" class="main-container js-quickedit-main-content container">
      <div class="row">
        <section class="col-xs-12">
          {# Content #}
          {% block content %}
            <a id="main-content"></a>
            {{ content }}
          {% endblock %}
        </section>
      </div>
    </div>
  </div>
{% endblock %}


{% block footer %}{% endblock %}
