.timer {
  padding: 0 10px 10px;
  position: relative;
  text-align: center;
  max-width: 650px;
  margin: 0 auto;
  .timer-headline {
    font-size: 18px;
    text-align: center;
  }
 .number {
   display: inline-block;
   width: 18%;
   text-align: center;
   margin: 5px;
   background-color: rgba(238,238,238,.5);
   border-radius: 10px;
   padding: 5px 0;
   font-size: 22px;
   font-weight: 700;
   max-width: 65px;
   .text {
     display: block;
     font-size: 12px;
     font-weight: 400;
   }
 }
}
.splash {
  .timer {
    padding: 15px 0 0;
    .timer-headline {
      color: #397173;
      font-size: 21px;
      font-style: italic;
      margin: 6px 0 10px;
      text-align: center;
      line-height: 1;
    }
    .number {
      border-radius: 0;
      max-width: 60px;
      color:#397173;
      font-size: 24px;
      line-height: 2;
      padding: 0 0 10px;;
      background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(255, 255, 255) 20%,rgb(241, 241, 241) 30%,rgba(255,255,255,1) 31%,rgba(255,255,255,1) 32%,rgb(241, 241, 241) 50%,rgb(226, 226, 226) 60%,rgba(254,254,254,0) 60%,rgba(254,254,254,0) 99%,rgba(254,254,254,0) 100%);
    }
    .text {
      display: block;
      padding: 4px 0 0;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 11px;
    }
  }
}


/***********************************
Media Styles Min-Width 768
***********************************/
@media (min-width:768px) {
  .timer {
    padding-top: 20px;
    .timer-headline {
      color: #fff;
    }
    .number {
      width: 10%;
      background-color: #fff;
    }
  }
}

/***********************************
Media Styles Min-Width 992
***********************************/
@media (min-width:992px) {
  .dynamicImageContainer {
    .timer {
      padding: 15px 0 0;
      max-width: 250px;
      .timer-headline {
        color: #397173;
        font-size: 21px;
        font-style: italic;
        margin: 6px 0 10px;
        text-align: center;
        line-height: 1;
      }
      .number {
        border-radius: 0;
        max-width: 60px;
        width: 20%;
        color: #397173;
        font-size: 24px;
        line-height: 2;
        padding: 0 0 10px;;
        background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 20%, rgb(241, 241, 241) 30%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 32%, rgb(241, 241, 241) 50%, rgb(226, 226, 226) 60%, rgba(254, 254, 254, 0) 60%, rgba(254, 254, 254, 0) 99%, rgba(254, 254, 254, 0) 100%);
      }
      .text {
        display: block;
        padding: 4px 0 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 11px;
      }
    }
  }
}
