/**** Global Styles Defined ****/
/* Color Variables */
/* Font Family Variables */
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial;
  font-size: 1.25rem;
  background: #f2f2f2;
  margin-top: 0;
}

.wrap {
  min-height: 100%;
  height: auto;
}

.main-container {
  background-color: #ffffff;
  padding: 15px;
  height: 100%;
}

header {
  margin: 10px 0;
  padding: 15px 0;
  clear: both;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}

header img, header .img-responsive {
  max-width: 200px;
}

footer.footer {
  background: #333333;
  color: #ffffff;
  width: 100%;
}

footer.footer a {
  color: #f2f2f2;
}

footer.footer a:hover {
  color: #999999;
}
